<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "large" color = "#fff" type = "ball-spin-clockwise" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
<div class="page-give-classes">
  <div class="container">
    <header class="page-header">
      <div class="top-bar-container">
        <a [routerLink]="['/aluno/login']" routerLinkActive="router-link-active">
          <img src="https://raw.githubusercontent.com/Projeto-Integrador-Santander/informacoes/bb73088303f810fea161c125895d10bbbf37ee50/assets/img/icons/back.svg" alt="Voltar">
        </a>
        <a *ngIf="aluno.id" class="btn-atualizar" (click)="voltarAula()">Voltar</a>
      </div>
      <div class="header-content">
        <strong>Seja bem-vindo, {{aluno?.perfil?.nome}}</strong>
        <strong>Que incrível que você quer aprender</strong>
        <p>O primeiro passo é se cadastrar</p>
      </div>
    </header>
    <main>
      <form [formGroup]="form" (ngSubmit)="gravar()">
        <fieldset>
          <legend>Seus dados</legend>
          <ng-container formGroupName="perfil">
          <div class="input-block">
            <label for="nome">Nome</label>
            <input name="nome" id="nome" formControlName="nome" required>
          </div>
          <div class="input-block">
            <label for="sobrenome">Sobrenome</label>
            <input name="sobrenome" id="sobrenome" formControlName="sobrenome">
          </div>
          <div class="input-block">
            <label for="nome">CPF</label>
            <input name="cpf" mask="000.000.000-00" id="cpf" formControlName="cpf" required>
          </div>
          <div class="input-block">
            <label for="numero_whatsapp">Whatsapp <small>(somente números) </small></label>
            <input name="numero_whatsapp" mask="(00) 00000-0000" id="numero_whatsapp" formControlName="numero_whatsapp" required>
          </div>
        </ng-container>

        <ng-container formGroupName="login">
          <div class="input-block">
            <label for="email">E-mail</label>
            <input name="email" id="email" [attr.disabled]="aluno?.id" formControlName="email" required>
          </div>
          <div class="input-block">
            <label for="senha">Senha</label>
            <input type="password" name="senha" id="senha" formControlName="senha" required>
          </div>
          <div class="input-block">
            <label for="senhaConfirmar">Confirmar Senha</label>
            <input type="password" name="senhaConfirmar" id="senhaConfirmar" formControlName="senhaConfirmar" required>
          </div>
        </ng-container>
        </fieldset>
        <fieldset id="materia-items">
          <legend>Matérias para requisição da aula
            <button type="button" id="add-materia" (click)="incluirMateria(0)"> + Nova Matéria</button>
          </legend>
          <ng-container formArrayName="materias" *ngFor="let control of materias.controls; index as i">
            <ng-container [formGroupName]="i">

              <div class="select-block">
                <label style="display: block;" for="materia">Matéria</label>
                <div style="display: flex; justify-content: space-between;">
                  <select name="materia" id="materia" formControlName="id" required>
                    <option value="0" selected disabled>Selecione uma opção</option>
                    <option *ngFor="let matricula of listaMatricula" [value]="matricula.id">
                      {{matricula.nome}}
                    </option>
                  </select>
                  <div style="display: flex; align-items: center; justify-items: center;">
                    <button (click)="excluirMateria(i)" *ngIf="control.get('id').value > 0" mat-mini-fab color="warn" aria-label="Excluir matéria">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </div>
                </div>
              </div>
            </ng-container>

          </ng-container>
        </fieldset>
        <footer>
          <p>
            <img src="https://raw.githubusercontent.com/Projeto-Integrador-Santander/informacoes/bb73088303f810fea161c125895d10bbbf37ee50/assets/img/icons/warning.svg" alt="Aviso importante">
            Importante! <br>
            Preencha todos dados
          </p>
          <button type="submit">Salvar cadastro</button>
        </footer>
      </form>
    </main>
  </div>
</div>